<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <hgroup>
        <h1>Error.</h1>
        <h2>An error occurred while processing your request.</h2>
        <h2>Most likely one of your entries was invalid due to incorrect format. Please go back to the main page and re-enter your info.</h2>
    </hgroup>
</body>
</html>
