@{
    ViewBag.Title = "Home Page";
}


    <div class="row no-gutters m-3">
        <div class="card col-sm-16 col-md-14 col-lg-8 mx-auto shadow text-dark bg-light">
            <div class="card-header text-center text-light bg-primary">
                <h5 class="m-0">Request a quote!</h5>
            </div>
            <div class="card-body">
                @using (Html.BeginForm("Quote", "Home", FormMethod.Post))
                {
                    <h6 class="m-0">Personal Information</h6>
                    <br />
                    <div class="form-row">
                        <div class="form-group col-sm-4">
                            <input name="FirstName" type="text" class="form-control" placeholder="John" />
                            <small class="form-sub-label text-muted">First Name</small>
                        </div>

                        <div class="form-group col-sm-4">
                            <input name="LastName" type="text" class="form-control" placeholder="Smith" />
                            <small class="form-sub-label text-muted">Last Name</small>
                        </div>

                        <div class="form-group col-sm-4">
                            <input name="DateOfBirth" type="datetime" class="form-control" placeholder="MM/DD/YYYY" />
                            <small class="form-sub-label text-muted">DOB</small>
                        </div>
                    </div>
                    <div class="form-row">
                        <label for="inputEmail" class="col-sm-1 col-form-label">Email :</label>
                        <div class="col-sm-6">
                            <input name="EmailAddress" type="email" class="form-control" id="inputEmail" placeholder="Email Address" />
                        </div>
                    </div>
                    <br />
                    <h6 class="m-0">Vehicle Information</h6>
                    <hr />
                    <div class="form-row">
                        <div class="form-group col-sm-2">
                            <input name="Year" type="text" class="form-control" placeholder="Year" />
                            <small class="col-form-label-sm text-muted">Year</small>
                        </div>
                        <div class="form-group col-sm-5">
                            <input name="Make" type="text" class="form-control" placeholder="Make" />
                            <small class="form-label-sm text-muted">Make</small>
                        </div>
                        <div class="form-group col-sm-5">
                            <input name="Make" type="text" class="form-control" placeholder="Model" />
                            <small class="form-label-sm text-muted">Model</small>
                        </div>
                    </div>
                    <br />
                    <h6 class="m-0">Driver Past History</h6>
                    <hr />
                    <div class="form-row">
                        <div class="form-group hide col-1"></div>
                        <div class="form-group col-sm-4">
                            <label>Have you ever had a DUI?</label>
                            <select class="form-control-sm">
                                <option selected>No</option>
                                <option selected>Yes</option>
                                <option selected hidden>...</option>
                            </select>
                        </div>
                        <div class="form-group hide col-3"></div>
                        <div class="form-group col-sm-1">
                            <label>Tickets</label>
                            <select class="form-control-sm">
                                <option selected>1</option>
                                <option selected>2</option>
                                <option selected>3</option>
                                <option selected>4</option>
                                <option selected>5</option>
                                <option selected>6</option>
                                <option selected hidden>...</option>
                            </select>
                        </div>
                    </div>
                    <br />
                    <h6 class="m-0">Insurance Coverage</h6>
                    <hr />
                    <div class="form-row">
                        <label>Choose your coverage: &nbsp;&nbsp;</label>
                        <select class="form-control-sm text-center">
                            <option selected>Full</option>
                            <option selected>Liability</option>
                            <option selected hidden>...</option>
                        </select>
                    </div>
                    <br /><br />
                    <div class="form-row">
                        <div class="hide col-sm-4"></div>
                        <button type="submit" class="btn btn-success col-sm-3 text-center">Submit &raquo;</button>
                    </div>
                }
            </div>
        </div>
    </div>
